html{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark);
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    line-height: 1.5;
}

img{
    max-width: 100%;
}



.container-nav{
    background: #622F22;
}

.container-nav ul{
    display: grid;
    grid-gap: 15px;
    padding: 0.5rem;
    list-style: none;
    grid-template-columns: 0.05fr 0.15fr 0.05fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.05fr 0.05fr 0.1fr;
    align-items: center;
}

 /* .list{
    position: sticky;
    top: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.link{
    position: relative;
    padding-bottom: 8px;
    cursor: pointer;
}

.link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #a7763f;
    transition: width 0.4px ease-out;
}

.link::hover.link::after{
    width: 100%;
} */

.container-nav a{
    background-color: #622F22;
    display: block;
    text-decoration: none;
    padding: 0.4rem;
    text-align: center;
    color: #c39057;
    text-transform: uppercase;
    font-size: 1rem;        
}


.container-nav a:after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #622F22;
    display: block;
    transition: .5s ease-in-out;
}

.container-nav a:hover::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #622F22;
    display: block;
}


.container1{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 2fr;
    background-color: #622F22;
    padding: 25px;
    background: url(box5wallpaper.jpg);

}

.box1{
    text-align: center;
    box-shadow: inset;
}

.box1 img{
    filter: drop-shadow(0px 0px 5px #fff);
}

.box1 h3{
    color: #e1aa70;    
}

.box1 a{
    text-decoration: none;
}

.container2{
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 0.3fr 0.2fr;
    background-color: #c39057;
    color: #c39057;
}

.box2{
    text-align: left;
}

.line{
    height: 25px;
    background-color: #c39057;
}

.line1{
    height: 80px;
    background-color: #e1aa70;
}

.container9{
    text-align: center;
    background-color: #622F22;
    color: #c39057;
}



.container7{
    display: grid;
    
}

footer{
    background-color: #a7763f;
    text-align: center;
    color: #622F22;
    height: 30px;
}


.carousel-inner{
    color: #622F22 ;
}




.container3{
    background-color: #c39057;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    align-items: center;
}







.container4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #622F22;
    padding: 20px;
    text-align: center;
    color: #c39057;
}


.container10{
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 0.3fr 0.2fr;
    background: #622F22;
    color: #c39057;
    align-items: center;
    text-align: justify;
}

.box10{
    width: 500px;
}

.box11{
    padding-left: 0px;
}











.container4{
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
}